.header
  reset()
  clearfix()
  offset-lr()
  background #ccc
  margin-bottom 10px
  padding-top 20px
  padding-bottom 20px
  .logo
    reset()
    float left
  nav
    float right
    a
      reset(inline-block)
      margin-left 10px